<html>
    <head>
        <meta charset="UTF-8">
        <title> first </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h4 class="word"> SOCIAL MEDIA AGENCY </h4>
             </div></br></br></br>
        <h5>
            <p class="bottom"> <a class="bottom" href="{{url_for('home')}}"> Talent Information </a></p>
           
            <p class="bottom"> <a class="bottom" href="{{url_for('sponsors')}}"> Sponsors </a></p>
            <p class="bottom"> <a class="bottom" href="{{url_for('elogin')}}"> Logout</a></p>
        </h5>
        </h5>
        </h5>
          </div>
        </div>
    </body>
</html>

